.search{
    float: right;
}


  #UserName
  {
      width:450px;
  }
  #username
  {
    width:400px;
    border: 1ps solid #888888;
  }
  #Award
  {
      width:450px;
  }
  #awardType
  {
    width:400px;
  }
  #awardReason
  {
    width:800px;
    height:400px;
  }
  #reason
  {
      margin-bottom:10px;
  }
  #addRequest
  {
    border: 1px solid #BFBFBF;
    padding: 10px;
    width:60rem;
    margin-top:10rem;
    
  }
  #submit{
      margin-left:20rem;
  }
  #submit:hover{
      background-color:#248639;
  }
  #cancel
  {
      margin-left:5rem;
  }
  .nameAward
  {
    display:inline-block;
    margin-bottom:40px;
  }
  .profileImage
  {
      display:inline-block;
  }
  .profileName
  {
      margin-top: 5px;
      margin-left:37px;
  }
  .btns{
    margin-left: 35rem;
  }
  .Requester-container{
    width: 300%;
  }
  .dropdown-btn{
    padding : 10px;
  }
  .dropdown-item-hovering :hover{
      background-color:#BFBFBF;
  }
  .req-images{
    display: inline-flex;
  }


.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}