/* Logeshkumar */

@media (max-width: 576px) {
    .input-group,
    .form-control {
        width: 260px;
    }
}

.border-box {
    padding: 20px 20px;
    width: 800px;
    min-width: 240px;
    border: 2px solid #000000;
    background-color: #fafafa;
  
}

.border-box-tip {
    position: absolute;
    top: -13px;
    background-color: #fafafa;
    padding: 0px 5px;
}

.space-between {
    justify-content: space-between !important;
}

.space-around {
    justify-content: space-around !important;
}

.col-form-label {
    width: 160px;
    font-weight: 600;
    border-color: violet;
}

.button-group .btn {
    margin: 5px 60px;
}

.input-group,
.form-control {
    width: 360px;
}

.d-flex {
    color: black;
}

.table-box {
    padding-top: 180px;
    margin-bottom: 50px;
}

.custom-select {
    border-color:#000000;
}








/* vidhyapriya */
.search{
    float: right;
}

.add{
    margin-left:23rem;
  }

  #UserName
  {
      width:450px;
  }
  #username
  {
    width:400px;
    border: 1ps solid #888888;
  }
  #Award
  {
      width:450px;
  }
  #awardType
  {
    width:400px;
  }
  #awardReason
  {
    width:800px;
    height:400px;
  }
  #reason
  {
      margin-bottom:10px;
  }
  #addRequest
  {
    border: 1px solid #BFBFBF;
    padding: 10px;
    width:60rem;
    margin-top:10rem;
    margin-left:15rem;
  }
  #submit{
      margin-left:20rem;
  }
  #submit:hover{
      background-color:#248639;
  }
  #cancel
  {
      margin-left:5rem;
  }
  .nameAward
  {
    display:inline-block;
    margin-bottom:40px;
  }
  .profileImage
  {
      display:inline-block;
      margin-top:40px;
  }
  .profileName
  {
      margin-top: 5px;
      margin-left:37px;
  }
  .btns{
    margin-left: 35rem;
  }
  .Requester-container{
    width: 300%;
  }
  .dropdown-btn{
    padding : 10px;
  }
  .dropdown-item-hovering :hover{
      background-color:#BFBFBF;
  }
